body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: #e6f7ff;
  }
  
  header {
    background-color: #3b5998;
    color: white;
    text-align: center;
    padding: 1.5rem;
  }
  
  .movie-list {
    margin: 1rem;
  }
  
  .movie {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fefefe;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  